<div [@routerTransition]>
  <div class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold alert alert-info alert-dismissible" style="text-align: center;padding-right: 0%;">
                Reset Password
              </h3>
            </div>
            <div class="panel-body p-3">
              <form [formGroup]="ChangePasswordForm">
                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-key p-2"></span>
                    <input [type]="type" autocomplete="off" formControlName="NewPassword" placeholder="NewPassword"
                    id="NewPassword" />
                  </div>
                </div>
                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-key p-2"></span>
                    <input [type]="type" autocomplete="off" formControlName="NewConfirmPassword" placeholder="ConfirmPassword"
            id="NewConfirmPassword" />
            <div class="input-group-text">
              <i alt="hide" class="fa {{eyeIcon}}" (click)="hideShowPass()"
                [class.hide]="!showPassword" style="cursor: pointer;"></i>
            </div>
            <div class="input-group-text">
              <i class="fa fa-refresh" (click)="passwordGenerate()" style="cursor: pointer;">Generate</i>
            </div>
                  </div>
                </div>
                <!-- <button type="button" class="btn btn-danger mt-4 float-right" (click)="closePopup()">
                  Close
                </button> -->
                <button type="button"
                class=" btn-success btn  mt-4 float-right" (click)="UserSubmit()">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>