<!-- Heading: Start -->
<section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
  <div class="container-fluid mx-0 px-0 mx-0 mb-0">
    <div class="row">
      <div class="col header">
        <span class="header__heading">Clients</span>
        <button class="btn btn__primary" routerLink="/app/clients/create">
          Add Client
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Heading: End -->
<!-- Filter Form: Start -->
<form [formGroup]="FilterForm">
  <div class="container-fluid mt-2">
    <div class="card p-2">
      <!-- Field Row Start -->
      <div class="row px-3 py-2" style="font-size: large">Filter</div>
      <!-- Field Row End -->
      <!-- Field Row Start -->
      <div class="row md-0 px-3 pb-2">
        <div class="col-md-4">
          <label class="mb-0">Country</label>
          <select class="form-control form-control-sm col-md-12" formControlName="countryId"
            (change)="onCountryChange($event.target.value)">
            <option [ngValue]="null">Choose Country</option>
            <option *ngFor="let country of CountryList" [value]="country.id">
              {{ country.name }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="mb-0">State</label>
          <select class="form-control form-control-sm col-md-12" formControlName="stateId"
            (change)="onStateChange($event.target.value)">
            <option [ngValue]="null">Choose State</option>
            <option *ngFor="let state of StateList" [value]="state.id">
              {{ state.name }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="mb-0">City</label>
          <select class="form-control form-control-sm col-md-12" formControlName="cityId">
            <option [ngValue]="null">Choose City</option>
            <option *ngFor="let city of CityList" [value]="city.id">
              {{ city.name }}
            </option>
          </select>
        </div>
      </div>
      <!-- Field Row: End -->
      <!-- Field Row Start -->
      <div class="row px-3 py-2">
        <button class="btn btn__primary" (click)="OnFilterFormSubmit()" style="margin-right: 15px">
          Search
        </button>
        <button class="btn btn__primary" (click)="resetFilterFormSubmit()">
          Reset
        </button>
      </div>
      <!-- Field Row End -->
    </div>
  </div>
</form>
<!-- Filter Form: End -->
<!-- Service Request List: Start -->
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <!-- DATA GRID: START -->
          <dx-data-grid id="dataGrid" class="mx-3 mb-3 mt-3" [showBorders]="true" [rowAlternationEnabled]="true"
            [showRowLines]="true" [columnAutoWidth]="true" [showColumnLines]="true" [dataSource]="GridData">
            <!-- DATA GRID COL: START-->
            <dxi-column dataField="code" caption="Code" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="name" caption="Name" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="country" caption="Country" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="state" caption="State" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="city" caption="City" cssClass="cell-header"></dxi-column>

            <dxi-column dataField="phoneNo" caption="Contact Number" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="email" caption="Email Account" cssClass="cell-header"></dxi-column>

            <!-- DATA GRID COL: START-->
            <!-- DATA GRID COL BUTTON: START-->
            <dxi-column type="buttons" caption="Action" cssClass="cell-header">
              <dxi-button hint="Edit Record" icon="edit" [onClick]="onEditClick"></dxi-button>
            </dxi-column>
            <!-- DATA GRID COL BUTTON: END-->
            <!-- DATA GRID PAGINATION: START-->
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
              [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons">
            </dxo-pager>
            <!-- DATA GRID PAGINATION: END-->
          </dx-data-grid>
          <!-- DATA GRID: END -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service Request List: End -->