<section class="content-header pt-0 pb-0 mx-0 mb-0 md-0">
  <div class="container-fluid mt-2">
    <UI-widget-panel></UI-widget-panel>
    <div class="row col-md-12 DataGridPanel" *ngIf="DisplayGrid">
      <div class="col-sm-6">
        <div class="DataGridCard">
          <h6 style="margin-bottom: 20px">Work Progress</h6>
          <dx-data-grid id="dataGrid" [rowAlternationEnabled]="true" [showRowLines]="false" [columnAutoWidth]="true"
            [showColumnLines]="false" [allowColumnReordering]="false" [dataSource]="HighPriorityGridData" keyExpr="id">
            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

            <dxi-column dataField="issuedOn" caption="Requested Date"></dxi-column>
            <dxi-column dataField="title" caption="Title"></dxi-column>
            <dxi-column dataField="building" caption="Building" [(visible)]="ShowBuildingColumnsInGrid"></dxi-column>
            <dxi-column dataField="flat" caption="Flat" [(visible)]="ShowFlatColumnsInGrid"></dxi-column>
            <dxi-column dataField="serviceType" caption="Service"></dxi-column>
            <dxi-column dataField="status" caption="Status"></dxi-column>
            <dxi-column type="buttons" caption="Action" cssClass="cell-header">
              <dxi-button hint="Edit Record" icon="edit" [onClick]="onEditClick"></dxi-button>
            </dxi-column>
            <!-- DATA GRID PAGINATION: START-->
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="8"> </dxo-paging>
            <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
              [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons">
            </dxo-pager>
            <!-- DATA GRID PAGINATION: END-->
          </dx-data-grid>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="DataGridCard">
          <h6 style="margin-bottom: 20px">New Service Request</h6>
          <dx-data-grid id="dataGrid" [rowAlternationEnabled]="true" [showRowLines]="false" [columnAutoWidth]="true"
            [showColumnLines]="false" [allowColumnReordering]="false" [dataSource]="OpenStatusGridData" keyExpr="id">
            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            <dxi-column dataField="issuedOn" caption="Requested Date"></dxi-column>

            <dxi-column dataField="title" caption="Title"></dxi-column>
            <dxi-column dataField="building" caption="Building" [(visible)]="ShowBuildingColumnsInGrid"></dxi-column>
            <dxi-column dataField="serviceType" caption="Service"></dxi-column>
            <dxi-column dataField="status" caption="Status"></dxi-column>
            <dxi-column type="buttons" caption="Action" cssClass="cell-header">
              <dxi-button hint="Edit Record" icon="edit" [onClick]="onEditClick"></dxi-button>
            </dxi-column>
            <!-- DATA GRID PAGINATION: START-->
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="8"> </dxo-paging>
            <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
              [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons">
            </dxo-pager>
            <!-- DATA GRID PAGINATION: END-->
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Service Request List: Start -->
<div class="container-fluid mt-2" *ngIf="DispplayAdmingrid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <!-- DATA GRID: START -->
          <dx-data-grid id="dataGrid" class="mx-3 mb-3 mt-3" [showBorders]="true" [rowAlternationEnabled]="true"
            [showRowLines]="true" [columnAutoWidth]="true" [showColumnLines]="true" [dataSource]="GridData">

            <!-- DATA GRID COL: START-->
            <dxi-column dataField="name" caption="Name" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="clientId" caption="Client Name" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="country" caption="Country" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="state" caption="State" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="city" caption="City" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="floorNo" caption="Residence Floor no" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="parkingNo" caption="Parking Floor no" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="flatNo" caption="Apartment No." cssClass="cell-header"></dxi-column>
            <dxi-column dataField="slotNo" caption="Total Parking Slot" cssClass="cell-header"></dxi-column>
            <dxi-column dataField="availableSlotNo" caption="Available Parking Slot"
              cssClass="cell-header"></dxi-column>
            <!-- DATA GRID COL: START-->
            <!-- DATA GRID COL BUTTON: START-->
            <dxi-column type="buttons" caption="Action" cssClass="cell-header">
              <dxi-button hint="Edit Record" icon="edit" [onClick]="onEditClick"></dxi-button>
            </dxi-column>
            <!-- DATA GRID COL BUTTON: END-->
            <!-- DATA GRID PAGINATION: START-->
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
              [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons">
            </dxo-pager>
            <!-- DATA GRID PAGINATION: END-->
          </dx-data-grid>
          <!-- DATA GRID: END -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service Request List: End -->